In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Question 1. Pandas version

In [4]:
pd.__version__

'2.3.2'

Question 2. Records count / 
How many records are in the dataset?

In [5]:
df.shape[0]

9704

Question 3. Fuel types / How many fuel types are presented in the dataset?

In [6]:
df['fuel_type'].nunique()

2

Question 4. Missing values / How many columns in the dataset have missing values?

In [7]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Question 5. Max fuel efficiency / What's the maximum fuel efficiency of cars from Asia?

In [8]:
df['origin'].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [9]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

Question 6. Median value of horsepower

In [ ]:
#1 Find the median value of horsepower column in the dataset.
horsepower_median = df['horsepower'].mean()
horsepower_median

np.float64(149.65729212983547)

In [ ]:
#2 Next, calculate the most frequent value of the same horsepower column.
horsepower_mode = df['horsepower'].mode()[0]

In [ ]:
#3 Use fillna method to fill the missing values in horsepower column with the most frequent value 
# from the previous step.
df['horsepower'] = df['horsepower'].fillna(horsepower_mode)

In [ ]:
#4 Now, calculate the median value of horsepower once again.
df['horsepower'].mean()

np.float64(149.82821516900248)

Question 7. Sum of weights

In [ ]:
#1 Select all the cars from Asia
asian_cars_df = df[df['origin'] == 'Asia']
asian_cars_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [ ]:
#2 Select only columns vehicle_weight and model_year
asian_cars_df = asian_cars_df[['vehicle_weight', 'model_year']]
asian_cars_df.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [ ]:
#3 Select the first 7 values
asian_cars_df = asian_cars_df.head(7)
asian_cars_df

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [ ]:
#4 Get the underlying NumPy array. Let's call it X.
X = asian_cars_df.to_numpy()
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [ ]:
#5 Compute matrix-matrix multiplication between the transpose of X and X. 
# To get the transpose, use X.T. 
# Let's call the result XTX.
XTX = (X.T).dot(X)
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [24]:
#6 Invert XTX.
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [27]:
#7 Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [42]:
#8 Multiply the inverse of XTX with the transpose of X, and 
# then multiply the result by y. 
# Call the result w.

w = (XTX_inv.dot(X.T)).dot(y)
w

array([0.01386421, 0.5049067 ])

In [43]:
#9 What's the sum of all the elements of the result?
w.sum()

np.float64(0.5187709081074016)